{% comment %} {% load compress %} {% endcomment %}
{% load static %}

<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Medics Advantage{% endblock %}</title>

    {% comment %} {% compress css %} {% endcomment %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% comment %} {% endcompress %} {% endcomment %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
    
</head>
<body class="">
    {% include "components/navbar.html" %}
    <div id="alert-container" class="fixed top-24 left-1/2 transform -translate-x-1/2 max-w-md w-full z-50"></div>
    <script src="{% static "js/alert.js" %}"></script>
    
    <main>
        {% block content %}
        <!-- Main content goes here -->
        {% endblock %}
    </main>
    {% include "components/footer.html" %}
    
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.0.0/dist/flowbite.min.js"></script>
    {% block extra_scripts %}
    <!-- Additional scripts can be added here -->
    {% endblock %}
</body>
</html>
