{% extends "_base.html" %}
{% block title %}About the Mocks - Medics Advantage{% endblock %}
{% block content %}
<div class="max-w-screen-lg mx-auto px-4 py-8 space-y-6">
    <h1 class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl text-center">
        About the Mocks
    </h1>
    <ul class="list-disc ml-8 space-y-2 text-lg">
        <li>Once booked we will contact you with an online link for the session.</li>
        <li>We advise that you attend as you would in your actual SCA exam.</li>
        <li>Please kindly keep to time as delay will affect your session.</li>
        <li>Come ready, having reflected on your goals for your session.</li>
        <li>We highly recommend the use of a laptop or desktop instead of a mobile phone for a better experience. Ensure your sound and video settings are working before the session.</li>
        <li>Immediate Feedback: You will receive detailed feedback and evaluation immediately after your session.</li>
        <li>We'll detail and guide you on where to focus your preparation before the main SCA exams.</li>
        <li>Apply the learning to your daily clinical practice, clinics and role-play sessions with colleagues, friends, supervisors and continue building your unique consultation style.</li>
    </ul>
</div>
{% endblock %}
